body{
    margin: 0;
    height: 100dvh; /*dvh:現在見えている画面に対する表示率*/
    overflow: hidden; /*ボタン外にはみ出た判定領域を隠蔽*/

    /*画面を中央揃えに*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 32px;
}

/*buttonsの下位にいるもの: hit-area(class),button-mark(class),left-button,right-button*/
#buttons{ /*画面全体を覆う*/
    position :fixed;
    inset: 0; /*画面全体にぴったり一致*/
    display: flex; /*ボタンを左右に並べる と同時に、子をflexboxで並べられるようになる*/
    width: 100vw;
    height: 100dvh;
    z-index: 1; /*描画の順, indexが小さいほど奥に描画*/
}

.hit-area{ /*各ボタンの判定領域なので画面の50%*/
    width: 50%; /*クラスなので親の領域に対しての割合をデカさの数値として持つ*/
    height: 100%;
    padding: 0; /*ボタンの余白を消去*/
    border : none; /*ボタン枠線を透明に*/
    background: transparent; /*ボタンの色も透明に*/
    display: flex;
    align-items: center; /*縦方向について中央揃え->(見た目上の)ボタンが中央に来る*/
    touch-action: manipulation; /*タッチ操作に関して、ダブルタップによる挙動を低減*/
    user-select: none; /*文字選択をoff(ボタンの文字が選択されないように)*/
}

#left-button{
    justify-content: flex-end; /*左側領域の右端にボタン配置*/
}

#right-button{
    justify-content: flex-start; /*右側領域の左端にボタン配置*/
}

.button-mark{
    width: 100px;
    height: 200px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    pointer-events: none; /*spanではなく親のhit-areaで入力を判定*/
}

.touch-mark {
    display: none;
}

@media (pointer: coarse){ /*端末によって表示を変える*/
    .pc-mark {
        display: none;
    }
    .touch-mark {
        display: inline;
    }
}

#left-button .button-mark{ /*左ボタンの見た目*/
    border-radius: 100px 0 0 100px; /*順番は LU,RU,RD,LD*/
}

#right-button .button-mark{ /*右ボタンの見た目*/
    border-radius: 0 100px 100px 0; /*順番は LU,RU,RD,LD*/
}

/*ボタン以外の要素の配置*/
#timer{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); /*文字がずれるから、文頭を自分の幅の50%左に戻す*/
    pointer-events: none;
    z-index: 2;
}

#score{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%); /*文字がずれるから、文頭を自分の幅の50%左に戻す*/
    pointer-events: none;
    z-index: 2;
}

.result{ /*リザルト画面でscoreに付加するクラス*/
    top: 40%;
    font-size: 48px;
    z-index: 3;
}

#retry {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    padding: 10px 20px; /*文字の周囲の空白*/
    z-index: 3;
}